# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing & Scratch
/scratch

# Next.js Build
/.next/
/out/

# TypeScript
*.tsbuildinfo

# Local Environment & SQLite Databases
.env
.env*.local
dev.db
dev.db-journal

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS Files
.DS_Store
*.pem
Thumbs.db
